@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap");
body {
  font-family: "Noto Sans JP", sans-serif !important;
  background-color: #eee;
  /* f1f7fc */
}
.form-control {
  border-color: #000000;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(71, 35, 19, 0.3);
}
.form-control:focus {
  border-color: #000000;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgb(18, 44, 44);
}
.mt-6 {
  margin-top: 90px;
}
.g-font {
  font-family: "Noto Sans JP", sans-serif !important;
}
.nav-top {
  margin-top: 55px !important;
}

.bg-milk {
  background-color: #a8a8ad;
}
.text-milk {
  color: #f3f2ee;
}
.cursor-pointer {
  cursor: pointer;
}

.font-size-1 {
  font-size: 13px;
}
.font-size-2 {
  font-size: 15px;
}
.font-size-3 {
  font-size: 18px;
}
.font-size-4 {
  font-size: 24px;
}
.font-size-5 {
  font-size: 30px;
}
.font-size-6 {
  font-size: 44px;
}
.th-60 {
  width: 60%;
}
.th-12 {
  width: 12%;
}
.th-10 {
  width: 10%;
}
.th-16 {
  width: 16%;
}

/* color */
.text-brown {
  color: brown;
}
.text-gray {
  color: #666;
}
.text-grayer {
  color: #999;
}
.bg-gray {
  background-color: #dddddd;
}

/* product card design */

.card-hover {
  transition: 0.5s;
}

.card-hover:hover {
  box-shadow: 0px 0px 5px #212121;
  border: 1.5px solid grey;
}

.card,
.card-body {
  width: fit-content;
}

.btn {
  border-radius: 0 !important;
}

.carosel-btn {
  border-radius: 25px;
  box-shadow: 0 20px 40px rgba(1, 0, 0, 0.7);
}

.product-card {
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
  border-radius: 5px 5px 0 0;
  padding-bottom: 5px;
}
/* end of product card */

/* login and Register */
.login-form {
  min-width: 300px;
  max-width: 400px;
  margin: 150px auto;
  font-size: 15px;
}

.login-form form {
  margin-bottom: 15px;
  background: #ffffff;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 40px 50px;
}

.register-form {
  max-width: 340px;
  margin-top: 130px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  font-size: 15px;
}

.register-form form {
  margin-bottom: 15px;
  background: #f7f7f7;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 30px;
}
.shadow-box {
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.3);
}

/* pricing page starts here*/
.pricing ul li {
  margin-bottom: 1rem;
}

.pricing .text-muted {
  opacity: 0.7;
}

.pricing .card {
  transition: 1s;
}
.pricing .card:hover {
  margin-top: -0.25rem;
  margin-bottom: 0.25rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
}
.pricing .card:hover .btn {
  opacity: 1;
}
.my-card {
  position: absolute;
  left: 40%;
  top: -20px;
  border-radius: 50%;
}

/* contact us page */
.contact-us {
  transition: 1s;
}
.contact-us:hover {
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
}

/* footer component */
footer p {
  font-size: 14px;
  color: #ccc;
  padding-bottom: 0px;
  margin-bottom: 8px;
}

.footer_ul_amrc {
  margin: 0px;
  list-style-type: none;
  font-size: 14px;
  padding: 0px 0px 10px 0px;
}
.footer_ul_amrc li {
  padding: 0px 0px 5px 0px;
}
.footer_ul_amrc li a {
  color: #ccc;
}
.footer_ul_amrc li a:hover {
  color: #fff;
}

/* 
///////////
////////////////
new login here */
.register-photo .image-holder {
  display: table-cell;
  width: auto;
  background: url(/images/cart1.jpg);
  background-size: cover;
}

.register-photo .form-container {
  display: table;
  max-width: 900px;
  width: 90%;
  margin: 0 auto;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.register-photo form {
  display: table-cell;
  width: 400px;
  background-color: #ffffff;
  padding: 40px 60px;
  color: #505e6c;
}
.resize-none{
  resize: none;
}

@media (max-width: 991px) {
  .register-photo form {
    padding: 40px;
  }
}

.register-photo form h2 {
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 30px;
}

.register-photo form .form-control {
  background: #f7e9ec;
  border: none;
  border-bottom: 1px solid #dde7d1;
  border-radius: 0;
  box-shadow: none;
  outline: none;
  color: inherit;
  text-indent: 6px;
  height: 40px;
}
.btn-outline-none {
  outline: none;
  outline: none !important;
  box-shadow: none;
}

.register-photo form .form-check {
  font-size: 13px;
  line-height: 20px;
}
dropdown {
  height: 100px;
}

.pay-btn {
  padding: 15px 45px;
}

.not-allowed {cursor: not-allowed;}